html{
    background-image: url(../images/Rubikcube.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
@keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  #login{
    
    text-align: center;
    background-color: #4CAF50;
    border-radius: 10px;
    margin-left: 5em;
    margin-right: 5em;
    
  }
  #login li{
    position: sticky;
    display: inline-flex;
    
    
  }
  #login li a , button{
    display: inline-block;
    padding: 1vh 3vw;
    margin: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #055f08;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(40px, 3vw, 25px);
    align-self: center;
    font-family: "Gochi Hand", cursive;
    width: 10em;
}
#login li a:hover , button:hover{
    background-color: #023304
}
h1{
    text-align: center;
    margin:auto;
    /*margin-top: 0.2em;*/
    /*margin-bottom: 0.2em;*/
    /*padding: 0.2em;*/
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(5em, 3vw, 25px);
    align-self: center;
    font-family: "Gochi Hand", cursive;
    /*width: 12em;*/
    
}

#links ul{
    list-style: none;
}
#links li{
    text-align: center;
    padding: 1em;
    margin:auto;
    margin-top: 0.5em;
     
}
#links li a{
    display: inline-block;
    padding: 1vh 3vw;
    background-color: #0d5135;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(40px, 3vw, 25px);
    align-self: center;
    font-family: "Gochi Hand", cursive;
    width: 10em;
}
#links li a:hover{
    background-color: #1fca24;
}
#links li button{
    display: inline-block;
    padding: 1vh 3vw;
    background-color: #93001b;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(60px, 4vw, 25px);
    align-self: center;
    font-family: "Gochi Hand", cursive;
    width: 9em;
    border-style: unset;
}
#links li button:hover{
    background-color: #da0202;
}
.modal {
    display: none; /* Hide by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow:hidden; 
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 1s ease forwards;
  }
/* The modal content */
.modal-content {
    background-color: #69e97e;
    margin: auto;
    padding: auto;
    border: 0.5em solid #000000;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  
  /* The close button in the modal*/
  .close {
    color: #000000;
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-size: 3em;
    font-weight: bold;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#blue{
  color: blue;
}
#red{
  color: red;
}
#Orange{
  color: orange;
}
#green{
  color: #48ee4d;
}
#home-img{
  width: 12em;
  height: 12em;
  padding: auto;
  margin:auto ;
}