<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Rubik's Cube AR</title>
        <link rel="stylesheet" href="styles/junjiehome.css">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap" rel="stylesheet">

</head>
    </head>


    <body>
        <div id="home-frame">
            <div class="topnav">
                <!-- 左侧 logo -->
                <img #logo src="images/cube-icon.png" alt="logo" id="logo"></a>
                <!-- 右侧导航栏 -->
                <nav>
                    <a href="templates/vr-dev.html">VR-DEV</a>
                    <a href="templates/ar-dev.html">AR-DEV</a>
                    <a href="#">HOME</a>
                    <a href="#">INTRODUCTION</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">SIGN UP</a>
                    <a href="#">LOGIN</a>
                </nav>
            </div>
            <div class="main">
                <!-- Left is for img -->
                <img id="home-img" src="images/home.png" />
                
                <!-- Right is for content -->
                <div id="home-content">
                    <h1>Rubik's Cube</h1>
                    <h2>With Augmented Reality</h2>
                    <p>Very Short Introductions offer concise and original introductions,
                        Very Short Introductions offer concise and original introductions,
                        Very Short Introductions offer concise and original introductions,
                        Very Short Introductions offer concise and original introductions
                    </p>
                    <p>Very Short Introductions offer concise and original introductions,
                        Very Short Introductions offer concise and original introductions</p>

                    <a href="templates/index.html">Start & Select Mode
                    </a>
                </div>
            </div>
    </body>

    <footer></footer>
</html>