/* src/assets/main.css */
@import './base.css';

.main {
    display: flex;
    align-items: center;
    background: linear-gradient(227deg, #165b9c 20.72%, #81bee4 78.01%);
    border-radius: 30px;
}

/* 默认宽度 >= 800px 时，水平排列 */
@media (min-width: 800px) {
    .main {
        flex-direction: row;
        justify-content: center; /* 可选：水平排列时居中对齐 */
    }
}

/* 宽度 < 800px 时，垂直排列 */
@media (max-width: 799px) {
    .main {
        flex-direction: column;
    }
}

#home-content {
    flex: 1;
    text-align: center;
    border-radius: 27px;
    background-color: skyblue;
    padding: 30px;
}